// import the CSS framework
@import "bootstrap";
ul{list-style-type: none; }
img {
  @extend .img-responsive;
  margin: 0 auto;
  height:500px;
  width:100%;
  }
.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 60%;
  margin-top: 51px; 
  }
section {
  @extend .row;
  margin-top: 20px;
  }
